.basket-item {
    background-color: #2D2D2D; 
}

.basket-item img {
    width: 150px;
    height: 110px;
    object-fit: cover;
}

@media(max-width: 370px) {
    .basket-item * {
        font-size: 12px;
    }

    .basket-item img {
        width: 150px;
        height: 110px;
        object-fit: cover;
    }
}

.remove, mat-icon {
    color: #494949   !important;
}