<div class="container">
<div name="scrollTo" class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
    <div class="page-header h5">Shipping</div>
</div>

<div *ngIf="!isPhoneNumberVerified" class="mt-3">
    <div class="mb-5 text-muted">We need to verify your cellphone number is correct and active before we process your order. Please
        enter your cellphone number below. </div>
    <div class="mb-3">
        <label for="cellphone">Cellphone Number</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">+27</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="mobileNumber"
                placeholder="815551234" required [disabled]="isVerificationRequested">
            <div class="invalid-feedback" style="width: 100%;">
                Your cellphone number is required.
            </div>
        </div>
    </div>
    <div id="recaptcha-container" [style.visibility]="isVerificationRequested? 'hidden': 'visible'"></div>
    <div *ngIf="hasError" class="error my-3">{{errorMessage}}</div>
    <div *ngIf="isVerificationRequested" class="mb-3">
        <div class="text-muted mb-3">We have sent you a verification code to you via sms. Please enter the code below. </div>
        <label for="cellphone">Verification Code</label>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="code" name="code" placeholder="000000"
                required>
            <div class="invalid-feedback" style="width: 100%;">
                Your cellphone number is required.
            </div>
        </div>
        <div class="text-muted mb-3 mt-3 resend" (click)="resend()">To resend click <a>here</a></div>
    </div>

    <button *ngIf="!isVerificationRequested" class="btn btn-lg btn-block bg-dark mt-5 shadow-sm sendCode" type="submit"
        (click)="verify()">Get Verification Code</button>
    <button *ngIf="isVerificationRequested" class="btn btn-lg btn-block bg-dark mt-5 shadow-sm sendCode" type="submit"
        (click)="confirmCode()">Confirm</button>
</div>
<div *ngIf="isPhoneNumberVerified" class="mt-3">
    <div class="row">
        <div class="col order-md-1">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" [(ngModel)]="userProfile.name" name="name" value="" #name="ngModel" required>
                        <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors.required" class="error">
                            Valid first name is required.
                        </div>
                        </div>
                    </div>
                </div>

                <div class="mb-5">
                    <label for="cellphone">Cellphone Number</label>
                    <div class="input-group">
                        <input type="text" class="form-control" [value]="phoneNumber" name="mobileNumber"
                            placeholder="cellphone" disabled>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your cellphone number is required.
                        </div>
                    </div>
                </div>

                <div class="justify-content-sm-center justify-content-md-start mb-3">
                    <div class="page-header h5">Delivery</div>
                </div>

                <div id="schedule" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active" [ngClass]="{'bg-selected': deliverySchedule == NOW, 'bg-not-selected': deliverySchedule != NOW}">
                    <input type="radio" name="deliverySchedule" value="NOW" (click)="deliverySchedule = NOW"> Now
                    </label>
                    <label class="btn btn-secondary" [ngClass]="{'bg-selected': deliverySchedule == LATER, 'bg-not-selected': deliverySchedule != LATER}">
                    <input type="radio" name="deliverySchedule" value="LATER" (click)="deliverySchedule = LATER"> Later
                    </label>
                </div>

                <div *ngIf="deliverySchedule == LATER" class="mt-3">
                    <div class="form-group">
                        <label for="delivery-date">Select Delivery Date:</label>
                        <input type="date" class="form-control" id="delivery-date" [(ngModel)]="selectedDate">
                    </div>
                
                    <div class="form-group mt-3">
                        <label for="delivery-time">Select Delivery Time:</label>
                        <input type="time" class="form-control" id="delivery-time" [(ngModel)]="selectedTime">
                    </div>
                </div>

                <!-- Conditionally display 'From' address fields if shop does not deliver from a fixed address -->
                <div *ngIf="!deliversFromFixedAddress" class="mt-5 mb-5">

                    <div class="justify-content-sm-center justify-content-md-start mb-3">
                        <div class="page-header h5">From Address Details</div>
                    </div>

                    <div class="mb-3">
                        <label for="address">From Street Address *</label>
                        <app-place-autocomplete [address]="fromAddress" (addressChanged)="fromAddress = $event" 
                        (latitudeChanged)="fromLatitude = $event" (longitudeChanged)="fromLongitude = $event"></app-place-autocomplete>
                    </div>

                    <div class="mb-3">
                        <label for="fromBuildingType">From Building Type *</label>
                        <select [(ngModel)]="fromBuildingType" class="custom-select d-block w-100" name="fromBuildingType" required>
                            <option [value]="enum.key" *ngFor="let enum of buildingTypeEnums | keyvalue">{{enum.key}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="fromUnitNumber">From Unit Number<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" [(ngModel)]="fromUnitNumber" name="fromUnitNumber" placeholder="12c">
                    </div>

                    <div class="mb-3">
                        <label for="fromBuildingName">From Building Name<span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" [(ngModel)]="fromBuildingName" name="fromBuildingName" placeholder="Olive Estate">
                    </div>
                </div>


                <div class="justify-content-sm-center justify-content-md-start mb-3 mt-5">
                    <div class="page-header h5">To Address Details</div>
                </div>


                <div class="mb-3">
                    <label for="buildingType">To Building Type *</label>
                    <select [(ngModel)]="shippingBuildingType" class="custom-select d-block w-100" name="BuildingType" id="BuildingType" required>
                        <option [value]="enum.key" *ngFor="let enum of buildingTypeEnums | keyvalue">{{enum.key}}</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="unitNumber">To Unit Number<span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" [(ngModel)]="shippingBuildingUnitNumber" name="unitNumber"
                        placeholder="12c">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="unitNumber">To Building Name <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" [(ngModel)]="shippingBuildingName" name="shippingBuildingName"
                        placeholder="Olive Estate">
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">To Street Address *</label>
                    <app-place-autocomplete [address]="userProfile.address" (addressChanged)="userProfile.address = $event" (latitudeChanged)="newAddressLatitude = $event" (longitudeChanged)="newAddressLongitude = $event"></app-place-autocomplete>
                </div>

                <div class="mb-3">
                    <label for="instructions">Additional Instructions<span class="text-muted">(Optional)</span></label>
                    <textarea [(ngModel)]="additionalInstructions" type="textarea" class="form-control" name="instructions"
                        placeholder="Enter additional instructions for the drivers"></textarea>
                </div>


                <hr class="mb-4">
                <div class="text-muted">Your contact information will be saved for us to be able to contact you to get
                    your order at your doorstep. This information is stored safe, securely and will never be shared or sold to any third parties. For more information, please see our privacy policy.</div>
                <button class="btn btn-lg btn-block bg-dark mt-5 shadow-sm" type="submit" (click)="startOrder()" [disabled]="!validData()">Save
                    and Continue</button>
        </div>
    </div>
</div>
</div>