<div class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
    <div class="page-header h5">Orders</div>
</div>
<table *ngIf="orders != null" class="mt-3 table table-striped text-muted">
    <thead>
      <tr>
        <th class="order-id" scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row" class="order-id">{{order.id}}</th>
        <td>{{order.date | date}}</td>
        <td>{{order.totalAmount | currency:'R'}}</td>
        <td class="status">
          <a [routerLink]="'/order/' + order.id">
          {{statusText(order.stage)}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

<!--
  basket: Basket;
  basketAmount?: number;
  customerId: string;
  date?: Date;
  description?: string;
  hasVat?: boolean;
  id?: string;
  messengerPaid?: boolean;
  modifiedDate?: Date;
  orderType?: Order.OrderTypeEnum;
  paymentType?: Order.PaymentTypeEnum;
  serviceFee?: number;
  shippingData: ShippingData;
  shopId: string;
  shopPaid?: boolean;
  stage?: Order.StageEnum;
  totalAmount?: number; -->