<div class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
    <div class="page-header h5">Current Orders</div>
</div>
<div *ngIf="currentOrders != null" class="mt-3 d-flex justify-content-sm-center justify-content-md-start">
  <div class="row d-flex justify-content-start">
      <div *ngFor="let order of currentOrders" class="orders col-md-6 col-lg-6 col-xl-4 py-2 d-flex justify-content-start">
          <app-order-card [order]="order"></app-order-card>
      </div>
  </div>
</div>

<div class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
  <div class="page-header h5">Completed Orders</div>
</div>
<div *ngIf="completedOrders != null" class="mt-3 d-flex justify-content-sm-center justify-content-md-start">
<div class="row d-flex justify-content-start">
    <div *ngFor="let order of completedOrders" class="orders col-md-6 col-lg-6 col-xl-4 py-2 d-flex justify-content-start">
        <app-order-card [order]="order"></app-order-card>
    </div>
</div>
</div>

<!--
  basket: Basket;
  basketAmount?: number;
  customerId: string;
  date?: Date;
  description?: string;
  hasVat?: boolean;
  id?: string;
  messengerPaid?: boolean;
  modifiedDate?: Date;
  orderType?: Order.OrderTypeEnum;
  paymentType?: Order.PaymentTypeEnum;
  serviceFee?: number;
  shippingData: ShippingData;
  shopId: string;
  shopPaid?: boolean;
  stage?: Order.StageEnum;
  totalAmount?: number; -->