.shop-item-container {
    width: 210px;
    height: 285.7px;
}

.shop-item img {
    display: flex;
    position: absolute;
    top: 0px;
    width: 210px;
    height: 285.7px;
    object-fit: cover;
}

.shop-item .details {
    display: flex;
    position: sticky;
    margin-top: 235px;
    margin-left: 16px;
    margin-right: 16px;
    color: #b96831  ;
    font-weight: 400;
    font-size: 18px;
    z-index: 3;
    height: 50px;
}

.gradient-pink::after {
    display: block;
    background: linear-gradient(180deg, rgba(173,131,119,0) 0%, rgba(255,255,255,1) 59%);
    width: 210px;
    height: 75px;
    content: "";
    bottom: 20px;
    position: absolute;
    z-index: 2;
}

.gradient-blue::after {
    display: block;
    background: linear-gradient(180deg, rgba(173,131,119,0) 0%, rgba(255,255,255,1) 59%);
    width: 210px;
    height: 100px;
    content: "";
    bottom: 20px;
    position: absolute;
    z-index: 2;
}