<div class="d-flex justify-content-center">
    <div class="card shop-item-container my-3 shadow-sm">
        <a [routerLink]="['/' + shopId + '/item', shopItem.id]">
            <div class="shop-item" [ngClass]="{'gradient-pink': !themeDark, 'gradient-blue': themeDark}">
                <img class="rounded px-2 py-1" [src]="shopItem.images[0]">
                <div class="d-flex justify-content-between details mx-2">
                    <span class="d-flex align-items-end item-name">{{shopItem.name}} </span>
                    <span class="d-flex align-items-end price">{{shopItem.price | currency:'R'}}</span>
                </div>
            </div>
        </a>
    </div>
</div>