<div class="c20">
    
    <p class="c1"><span class="c3">These Terms and Conditions (“the Terms and Conditions”) govern your (“the User”) use
            of the The Celeste Monique Brand (“Provider”) website located at the domain name </span><span
            class="c3 c13"><a class="c4"
                href="https://www.google.com/url?q=https://www.soulmatters.co.za/&amp;sa=D&amp;source=editors&amp;ust=1612811839962000&amp;usg=AOvVaw3bx5EkEva4vDVa_p68IBKv">www.CelesteMonique.com</a></span><span
            class="c2">&nbsp;(“the Website”). By accessing and using the The Celeste Monique Website, the User agrees to
            be bound by the Terms and Conditions set out in this legal notice. The User may not access, display, use,
            download, and/or otherwise copy or distribute Content obtained on the website for marketing and other
            purposes without the consent of the Provider.</span></p>
    <p class="c1"><span class="c6 c0">The Celeste Monique Brand</span></p>
    <p class="c1"><span class="c3">The Celeste Monique Brand</span><span class="c2">&nbsp;stocks a wide variety of
            products. All Trademarks, Logos and intellectual property remain the property of The Celeste Monique Brand.
            &nbsp;</span></p>
    <p class="c1"><span class="c6 c0">Electronic Communications</span></p>
    <p class="c1"><span class="c2">By using the The Celeste Monique website or communicating with the Provider by
            electronic means, the user consents and acknowledges that any and all agreements, notices, disclosures, or
            any other communication satisfies any legal requirement, including but not limited to the requirement that
            such communications should be in writing.</span></p>
    <p class="c1"><span class="c6 c0">E-Commerce &amp; Privacy</span></p>
    <p class="c1"><span class="c2">The Website has lifestyle products online. The use of any product bought from this
            Website is at the purchaser’s risk. The purchaser/ user indemnifies and holds the Provider harmless against
            any loss, injury or damages which may be sustained as a result of using the products sold on the
            Website.</span></p>
    <p class="c1"><span class="c2">The private information required for executing the orders placed through the
            e-commerce facility, namely the User’s personal information and credit card details, delivery address and
            telephone numbers will be kept in the strictest confidence by the Provider and not sold or made known to
            third parties. Only the necessary information, that is the delivery address and contact phone number will be
            made known to third parties delivering the product. &nbsp;</span></p>
    <p class="c1"><span class="c3">By registering on the mailing list or for the newsletter, the User’s email address
            will be added to the contact list of those who may receive email messages containing information of
            commercial or promotional nature regarding CelesteMonique marketing only. Your email address might also be
            added to this list as a result of making a purchase. &nbsp;Personal Data processed: city; email address;
            first name; phone number; Province</span><span class="c18">. &nbsp;</span><span class="c3">The customer may
            update their preferences or unsubscribe from the CelesteMonique mailing list at any time.</span></p>
    <p class="c1 c19"><span class="c2"></span></p>
    <p class="c1"><span class="c2">The Provider undertakes that it has taken all reasonable precautions to secure the
            credit card processing that is carried out to receive payment for goods sold. The Provider cannot be held
            responsible for security breaches occurring on the User’s electronic device (Personal Computer or other
            electronic device used to browse the Website), which may result due to the lack of adequate virus protection
            software or spyware that the User may inadvertently have installed on his/her device.</span></p>
    <p class="c1"><span class="c6 c0">Payment Options</span></p>
    <p class="c1"><span class="c3">Payment may be made via</span><span class="c0">&nbsp;Visa, MasterCard credit cards,
            by bank transfer or wallet &nbsp;</span><span class="c2">into the Provider’s bank account, the details of
            which will be provided during checkout.</span></p>
    <p class="c1"><span class="c6 c0">Credit card acquiring and security</span></p>
    <p class="c1"><span class="c3">Credit card transactions will be acquired for the Provider via PayFast (Pty) Ltd who
            is PCI-DSS Level 1 Service Provider Compliant. Payfast uses the strictest form of encryption, namely Secure
            Socket Layer 3 (SSL3) and no credit card details are stored on the website. Users may go to </span><span
            class="c3 c7"><a class="c4"
                href="https://www.google.com/url?q=http://www.payfast.co.za&amp;sa=D&amp;source=editors&amp;ust=1612811839964000&amp;usg=AOvVaw15Flpklw47WfcVCZd-y0bz">www.payfast.co.za</a></span><span
            class="c3">&nbsp;to view their security certificate and security policy.</span></p>
    <p class="c1"><span class="c6 c0">EFT and security</span></p>
    <p class="c1"><span class="c3 c8">Card </span><span class="c3 c8">transactions will be acquired for the Provider via
            Payfast who is PCI-DSS Level 1 Service Provider Compliant. Payfast uses the strictest form of encryption,
            namely Secure Socket Layer 3 (SSL3) and no credit card details are stored on the website. Users may go to
        </span><span class="c7 c3 c8"><a class="c4"
                href="https://www.google.com/url?q=http://www.payfast.co.za&amp;sa=D&amp;source=editors&amp;ust=1612811839965000&amp;usg=AOvVaw3eUwhFezXAjzQ7v10CVusG">www.payfast.co.za</a></span><span
            class="c2 c8">&nbsp;to view their security certificate and security policy.</span></p>
    <p class="c1"><span class="c0 c8">Customer </span><span class="c0 c8">details</span><sup><a href="#cmnt1"
                id="cmnt_ref1">[a]</a></sup><span class="c6 c0 c8">&nbsp;</span></p>
    <p class="c1"><span class="c3 c8">Customer details will be stored by the iZinga order management separately. The
            data store on iZinga order management system uses a high level of security and encryption. The data is not
            shared or sold to anyone. For more information about iZinga order Management visit </span><span
            class="c7 c3 c8"><a class="c4"
                href="https://www.google.com/url?q=http://www.izinga.co.za/privacy.html&amp;sa=D&amp;source=editors&amp;ust=1612811839966000&amp;usg=AOvVaw0yzoDMY-1xQfsiK6uGOP60">www.izinga.co.za/privacy.html</a></span><span
            class="c3 c8">&nbsp;</span></p>
    <p class="c1"><span class="c6 c0">Merchant Outlet country and transaction currency</span></p>
    <p class="c1"><span class="c2">The merchant outlet country at the time of presenting payment options to the
            cardholder is South Africa. Transaction Currency is South African Rand (ZAR).</span></p>
    <p class="c1"><span class="c6 c0">Responsibility</span></p>
    <p class="c1"><span class="c2">The Provider takes responsibility for all aspects relating to the transaction
            including sale of goods and services sold on this website, customer service and support, dispute resolution
            and delivery of goods.</span></p>
    <p class="c1"><span class="c6 c0">Refunds &amp; Returns Policy</span></p>
    <p class="c1"><span class="c2">Products may be returned for credit, exchange or refund within 60 days from date of
            purchase, provided that the merchandise is unused and is returned in its original box/wrapping together with
            a valid cash sales docket/invoice. Refunds will exclude all delivery fees that are paid as part of the
            order.</span></p>
    <p class="c1"><span class="c3">1. &nbsp; Log a return within 14 days of the order being delivered free of charge
            (conditions may apply) using this email address : </span><span
            class="c12 c13 c3 c15">Online@CelesteMonique.com</span></p>
    <p class="c1"><span class="c2">2. &nbsp; Once your return has been logged you will receive an email to confirm that
            our courier partners will contact you to arrange collection.</span></p>
    <p class="c1"><span class="c2">3. &nbsp; Please ensure that the item(s) are packed in the packaging they were
            received in, with the receipt attached with the inclusion of the order number associated to that
            item.</span></p>
    <p class="c1"><span class="c2">5. &nbsp; Once the returns have reached our warehouse, each of the items in your
            return will be inspected before the return is processed and the refund or store credit initiated.</span></p>
    <p class="c1"><span class="c2">6. &nbsp; We will make a maximum of 2 attempts to collect your parcel from you. If we
            are unable to collect after the second attempt, we will cancel your return and collection request</span></p>
    <p class="c1"><span class="c0">T</span><span class="c0">URNAROUND TIMES FOR DELIVERY:</span></p>
    <p class="c1"><span class="c3">Due to additional COVID-19 safety measures , there will be extra delays in
        </span><span class="c3">processing</span><span class="c2">&nbsp;your Orders. We do apologise in advance.</span>
    </p>
    <p class="c1"><span class="c0">In Stock orders</span><span class="c2">&nbsp;: Dispatch within 48 hours of order
            being received. &nbsp;An acknowledgement email will be sent to email address provided on the order.</span>
    </p>
    <p class="c1"><span class="c0">Out of Stock orders / Bespoke</span><span class="c2">&nbsp;: Completion of order and
            dispatch within 2 weeks of order being received. &nbsp;An acknowledgement email will be sent to email
            address provided on the order.</span></p>
    <p class="c1"><span class="c0 c6">Updating of these Terms and Conditions</span></p>
    <p class="c1"><span class="c2">Provider reserves the right to change, modify, add to or remove from portions or the
            whole of these Terms and Conditions from time to time. Changes to these Terms and Conditions will become
            effective upon such changes being posted to this Website. It is the User’s obligation to periodically check
            these Terms and Conditions at the Website for changes or updates. The User’s continued use of this Website
            following the posting of changes or updates will be considered notice of the User’s acceptance to abide by
            and be bound by these Terms and Conditions, including such changes or updates.</span></p>
    <p class="c1"><span class="c6 c0">Copyright and Intellectual Property Rights</span></p>
    <p class="c1"><span class="c2">Provider provides certain information at the Website. Content currently or
            anticipated to be displayed at this Website is provided by Provider, its affiliates and/or subsidiary, or
            any other third party owners of such content. All such proprietary works, and the compilation of the
            proprietary works, are copyright the Provider, its affiliates or subsidiary, or any other third party owner
            of such rights (“the Owners”), and is protected by South African and international copyright laws. The
            Providers reserve the right to make any changes to the Website, the Content, or to products and/or services
            offered through the Website at any times and without notice. All rights in and to the Content is reserved
            and retained by the Owners. Except as specified in these Terms and Conditions, the User is not granted a
            license or any other right including without limitation under Copyright, Trademark, Patent or other
            Intellectual Property Rights in or to the Content.</span></p>
    <p class="c1"><span class="c6 c0">Limited License to General Users</span></p>
    <p class="c1"><span class="c2">Provider grants to the User, subject to the further terms of these Terms and
            Conditions, a non-exclusive, non-transferable, limited and revocable right to access, display, use, download
            and otherwise copy the current and future Content for personal, non-commercial and information purposes
            only.</span></p>
    <p class="c1"><span class="c2">This Website and the Content may not be reproduced, duplicated, copied, resold,
            visited or otherwise exploited for any commercial purpose without the express prior written consent of
            Provider. The license does not allow the User to collect product or service listings, descriptions or other
            information displayed here, and does not allow any derivative use of this Website or the Content for the
            benefit of another merchant. The User may not frame nor use framing technologies to enclose the Provider
            Website or the Content nor any part thereof without the express written consent of Provider. Provider and
            the Owners do not offer products or services to minors. If you are under the age of 18, you may not respond
            to or otherwise accept or act upon any offers in the Website.</span></p>
    <p class="c1"><span class="c2">Provider and the Owners, their affiliates or subsidiary reserve the right to refuse
            service, terminate accounts, remove or edit content, or cancel orders in their sole discretion. Any
            unauthorised use terminates this license.</span></p>
    <p class="c1"><span class="c6 c0">Limitation of liability</span></p>
    <p class="c1"><span class="c2">The Website and all Content on the Website, including any current or future offer of
            products or services, are provided on an “as is” basis, and may include inaccuracies or typographical
            errors. The Owners make no warranty or representation as to the availability, accuracy or completeness of
            the Content. Neither Provider nor any holding company, affiliate or subsidiary of Provider, shall be held
            responsible for any direct or indirect special, consequential or other damage of any kind whatsoever
            suffered or incurred, related to the use of, or the inability to access or use the Content or the Website or
            any functionality thereof, or of any linked website, even if Provider is expressly advised thereof.</span>
    </p>
    <p class="c1"><span class="c6 c0 c8">Privacy: casual surfing</span></p>
    <p class="c1"><span class="c3 c8">The User may visit the Website without providing any personal information. The
            Website servers will in such instances collect the IP address of the User computer, but not the email
            address or any other distinguishing information. This information is aggregated to measure the number of
            visits, average time spent at the Website, pages viewed, etc. The Provider uses this information to
            determine use of the Website, and to improve content thereon. Provider assumes no obligation to protect this
            information, and may copy, distribute or otherwise use such information without limitation. For the purpose
            of this clause, “personal information” shall be defined as detailed in the Promotion of Access to
            Information Act 2 of 2000 (PAIA). The PAIA may be downloaded from:</span><span class="c13 c3 c8"><a
                class="c4"
                href="https://www.google.com/url?q=http://www.polity.org.za/attachment.php?aa_id%3D3569&amp;sa=D&amp;source=editors&amp;ust=1612811839970000&amp;usg=AOvVaw2NVlrB7Q3R-Gf-s7v-sd6E">http://www.polity.org.za/attachment.php?aa_id=3569</a></span>
    </p>
    <p class="c1"><span class="c6 c0">Choice of Law</span></p>
    <p class="c1"><span class="c2">This Website is controlled, operated and administered by Provider from its offices
            within the Republic of South Africa. Access to the Website from territories or countries where the content
            or purchase of the products sold on the Website is illegal is prohibited. The User may not use this Website
            in violation of South African export laws and regulations. If the User accesses this Website from locations
            outside of South Africa, that User is responsible for compliance with all local laws. These Terms and
            Conditions shall be governed by the laws of the Republic of South Africa, and the User consents to the
            jurisdiction of the Cape Town High Court in the event of any dispute. If any of the provisions of these
            Terms and Conditions are found by a court of competent jurisdiction to be invalid or unenforceable, that
            provision shall be enforced to the maximum extent permissible so as to give effect to the intent of these
            Terms and Conditions, and the remainder of these Terms and Conditions shall continue in full force and
            effect. These Terms and Conditions constitute the entire agreement between the Provider and the User with
            regard to the use of the Content and this Website.</span></p>
</div>