.shop-name {
    font-weight: 500;
    font-size: large;
    color: #ffffff;
}

@media(max-width: 320px) {
    .shop-name {
        font-size: small;
    }
}

.logo {
    background-image: var(--bkg-logo) !important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 131px;
    height: 60px;
}

.nav-tab {
    background: var(--nav-bg-color);
}

.nav-item {
}