<div name="scrollTo" class="container">
  <a class="navbar-brand" routerLink="/">
        <div class="logo" alt="" loading="lazy"></div>
  </a>
</div>

 <div class="container mb-5"> 
  <ul class="nav justify-content-center nav-tab rounded-pill shadow-sm">
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-center" routerLink=".">
        <mat-icon class="example-tab-icon text-muted">restaurant</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-center" routerLink="cart">
        <mat-icon class="example-tab-icon text-muted">shopping_cart</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-center" routerLink="cart">
        <mat-icon class="example-tab-icon text-muted">store_front</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-center" routerLink="cart">
        <mat-icon class="example-tab-icon text-muted">account_circle</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex justify-content-center" routerLink="contact">
        <mat-icon class="example-tab-icon text-muted">contact_support</mat-icon>
      </a>
    </li>
  </ul>
</div>  

 <div class="container-fluid"> 

<router-outlet></router-outlet>

<div *ngIf="hasError" class="alert alert-danger error alert-dismissible fade show fixed-top" role="alert">
    <strong>{{errorMessage}}</strong>
    <button type="button" class="close" aria-label="Close" (click)="clearError()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>