<div class="container"> 

<div name="scrollTo" class="d-flex justify-content-between mb-3">
  <a class="navbar-brand" routerLink="/">
        <div class="logo" alt="" loading="lazy"></div>
  </a>
  <a *ngIf="!loggedIn()" class ="login d-flex align-items-center" routerLink="/login">
    <button class="btn btn-primary button-login">Login</button>
  </a>
  <div *ngIf="loggedIn()" class ="login d-flex align-items-center">
    <button class="btn btn-primary button-login" (click)="logout()">Logout</button>
  </div>
</div>  


  <router-outlet></router-outlet>

  <div *ngIf="hasError" class="alert alert-danger error alert-dismissible fade show fixed-top" role="alert">
      <strong>{{errorMessage}}</strong>
      <button type="button" class="close" aria-label="Close" (click)="clearError()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div *ngIf="isVisible" class="row fixed-bottom">
    <!-- Add New Stock Item Button -->
    <button type="button" class="col-4 btn bg-dark shadow-sm" routerLink="recurring">
        <a class="nav-link d-flex justify-content-center">
          <mat-icon class="example-tab-icon">density_small</mat-icon>
        </a>
        <div class="menu_label">Shopping List</div>
    </button>

    <button type="button" class="col-4 btn bg-dark shadow-sm" routerLink="cart">
      <a class="d-flex justify-content-center">
        <mat-icon matBadge="{{cartNumberOfItems}}" matBadgeColor="warn" class="example-tab-icon">shopping_cart</mat-icon>
      </a>
      <div class="menu_label">Cart</div>
    </button>

    <button class="col-4 btn btn-lg btn-block bg-dark shadow-sm" type="button" routerLink="dashboard">
      <div class="d-flex justify-content-center">
        <mat-icon class="example-tab-icon">account_circle</mat-icon>
      </div>
      <div class="menu_label">More</div>
    </button>
</div>  

</div>