<div>
    <div class="my-3 mx-3 d-flex justify-content-center">
        <span class="address mr-5">{{address}}</span>
        <a (click)="changeAddress()"><button class="btn btn-primary button-dark btn-small">Change</button></a>
    </div>

    <div *ngIf="hasOrders()" class="mb-3">
        <div class="container h5 mb-3">My Orders</div>
        <div class="row d-flex justify-content-start">
            <div *ngFor="let order of currentOrders" class="orders col-md-6 col-lg-6 col-xl-4 py-2 d-flex justify-content-start">
                <app-order-card [order]="order"></app-order-card>
            </div>
        </div>
    </div>

    <div class="promos">
        <app-promo-slider *ngIf="promotions.length > 0" [promotions]="promotions"></app-promo-slider>
    </div>

    <div class="container h5 mb-3 mt-3">Shops</div>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div *ngFor="let store of stores" class="col-md-6 col-xl-4 px-2 py-2 d-flex justify-content-center">
                <app-store-card [store]="store"></app-store-card>
            </div>
        </div>
    </div>
</div>