.card {
    width: 160px;
    border-radius: 1rem;
    background: var(--bkg-card-color);
    outline: none;
    border: none;
}

.card img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.card-header {
    width: 160px;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--bkg-card-color);
    border: none;
}

.description {
    font-size: 14px;
   max-height: 42px;
   overflow: hidden;
   text-overflow: ellipsis;
}

* {
    text-decoration: none;
    color: var(--text-color);
}