.card {
    width: 320px;
    height: 300px;
    border-radius: 1rem;
    background: #444343;
}

.card img {
    width: 320px;
    height: 170px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}