.card {
    background: var(--bkg-card-color);
    outline: none;
    border: none;
}

.card img {
    width: 210px;
    height: 158px;
    object-fit: cover;
}

.card-header {
    width: 152px;
    background-color: var(--bkg-card-color);
    border: none;
}

.description {
    font-size: 14px;
   max-height: 42px;
   overflow: hidden;
   text-overflow: ellipsis;
}

* {
    text-decoration: none;
    color: var(--text-color);
}