.card {
    width: 320px;
    border-radius: 1rem;
    background: #2D2D2D;
    outline: none;
}

.card img {
    width: 160px;
    height: 131px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.card-header {
    width: 160px;
}

.description {
    font-size: 14px;
   max-height: 42px;
   overflow: hidden;
   text-overflow: ellipsis;
}

* {
    text-decoration: none;
    color: white;
}