<div class="container mt-5">

    <div></div>

    <div class="item-descr mb-5 row">
        <div *ngFor="let img of shopItem.images" class="col-12 col-md-3 mb-1 md-md-0 d-flex justify-content-center">
            <img [src]="img">
        </div>
    </div>

    <div class="product row">
        <div class="col-6 h4">{{shopItem.name}}</div>
        <div class="col-6 h4 price">R {{shopItem.price}}</div>
    </div>

    <div>{{shopItem.description}}</div>

    <div *ngFor="let option of shopItem.mandatorySelection" class="row">
        <div class="col-6 product h5 mt-3">{{option.name}}</div>
        <div class="col-6 mt-3">
            <select [(ngModel)]="option.selected" class="custom-select d-block w-100" id="country" required>
                <option value="">Choose...</option>
                <option [value]="choice" *ngFor="let choice of option.values" >{{choice}}</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid {{option.name}}.
            </div>
        </div>
    </div>

    <button class="btn btn-lg btn-block bg-dark mt-5" (click)="addToCart()" [disabled]="!hasValidSeletion()">
        Add to Cart
    </button>


</div>