
.selected-image {
    width: 320px;
    height: 250px;
    object-fit: cover;
}

.thumbnail {
    width: 42px;
    height: 42px;
    object-fit: cover;
}

.btn-checkout {
    color: #ffffff;
    background-color: #d69447;
    width: 100vw !important;
    border-radius: 0%;
  }