<div class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
    <div class="page-header h5">{{shopItem?.name}}</div>
</div>
<div class="mt-3 row d-flex justify-content-center">

    <div class="col-md-6 d-flex justify-content-center justify-content-md-start mb-5">
        <div class="d-inline-flex">
            <span class="item-descr mr-md-1">
                <div *ngFor="let img of shopItem?.images" class="mb-1" (click)="imageSelected = img">
                    <img class="shadow-sm rounded thumbnail" [src]="img">
                </div>
            </span>
            <div class="rounded">
                <img *ngIf="imageSelected" class="selected-image col rounded" [src]="imageSelected">
            </div>
        </div>
        
    </div>

    <div class="col-md-6">

        <div class="product row">
            <div class="col-6 product h5 ">Price</div>
            <div class="col-6 product h5 price">{{shopItem?.price | currency:'R'}}</div>
        </div>

        <div class="mb-3">{{shopItem?.description}}</div>

        <div *ngFor="let option of shopItem?.mandatorySelection" class="row">
            <div class="col-6 product h5 mt-3">{{option.name}}</div>
            <div class="col-6 mt-3">
                <select [(ngModel)]="option.selected" class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option [value]="choice" *ngFor="let choice of option.values">{{choice}}</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid {{option.name}}.
                </div>
            </div>
        </div>

        <button class="btn btn-lg btn-block bg-dark mt-5 shadow-sm mb-3" (click)="addToCart()" [disabled]="!hasValidSeletion()">
            Add to Cart
        </button>

    </div>
</div>

<div *ngIf="shopItem.detailedDescription" class="mt-3">
    <div class="product h5 mb-3">Description</div>
    <div>{{shopItem.detailedDescription}}</div>
</div>

<div class="mt-5">
    <app-other-items></app-other-items>
</div>

<div *ngIf="hasItemsInCart()" class="fixed-bottom">
  
    <a routerLink="../../cart">
      <button class="btn btn-checkout shadow-sm">
        <mat-icon matBadge="{{cartNumberOfItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
        CHECKOUT
      </button>
    </a>
  </div>