<div class="mt-5 d-flex justify-content-sm-center justify-content-md-start">
    <h3 class="page-header display-5">Payment</h3>
</div>
<div class="container">

    <div class="row">

        <div class="col-md-6 order-md-2 mb-3 mt-3">
            <div class="d-block my-3">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="paymentSelected"
                        value="ukheshe" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Pay with <img src="./assets/images/ukhese-logo.png" class="payment-logo mx-1"> Wallet
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="paymentSelected"
                        value="masterpass" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Pay with <img src="./assets/images/masterpass-initial.svg" class="payment-logo mx-1">
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="paymentSelected"
                        value="ozow">
                    <label class="form-check-label" for="exampleRadios2">
                        Pay with <img src="./assets/images/ozow-black.png" class="payment-logo mx-1"> EFT
                    </label>
                </div>
            </div>


            <div *ngIf="paymentSelected == 'ozow'" class="row  mt-3 ">
                <div class="col-md-12">
                    <a [href]="ozowPaymentUrl"><button class="btn btn-lg btn-block btn-primary bg-dark mt-5 shadow-sm">
                            Pay Now
                        </button></a>
                </div>
            </div>

            <div *ngIf="paymentSelected == 'ukheshe'" class="row  mt-3">
                <div class="col-md-12">
                    <button class="btn btn-lg btn-block btn-primary bg-dark mt-5 shadow-sm" data-toggle="modal"
                        data-target="#ukhesheLogin">
                        Pay Now
                    </button>
                </div>
            </div>

            <div *ngIf="paymentSelected == 'masterpass'" class="row  mt-3">
                <div class="col-md-12">
                    <button class="btn btn-lg btn-block btn-primary bg-dark mt-5 shadow-sm" data-toggle="modal"
                        data-target="#masterpass">
                        Pay Now
                    </button>
                </div>
            </div>

        <app-ukheshe-payment [order]="order"></app-ukheshe-payment>
        <app-ukheshe-masterpass [order]="order"> </app-ukheshe-masterpass>

        </div>
        <div class="col-md-6 order-md-2 mb-3 mt-5">
            <h5 class="d-flex justify-content-between align-items-center mb-3 product">
                <span class="text-muted">Your Final Order</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h5>
            <ul class="list-group mb-3">
                <li *ngFor="let orderItem of order.basket.items"
                    class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{orderItem.name}}</h6>
                        <small class="text-muted">{{orderItem.description}}</small>
                    </div>
                    <span class="text-muted">R{{orderItem.price}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="my-0">Shipping Fee</div>
                        <small class="text-muted">Shipping to {{order.shippingData.toAddress}}</small>
                    </div>
                    <span class="text-muted">R{{order.shippingData.fee}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <div class="my-0">Service Fee</div>
                        <small class="text-muted">Service fee</small>
                    </div>
                    <span class="text-muted">R{{order.serviceFee}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (ZAR)</span>
                    <strong>R{{order.totalAmount}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>