<div class="container">

    <h4 class="mb-3 mt-5">Payment</h4>

    <div class="d-block my-3">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="paymentSelected" value="ukheshe" checked>
            <label class="form-check-label" for="exampleRadios1">
                Pay with <img src="./assets/images/ukhese-logo.png" class="payment-logo mx-1"> Wallet
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="paymentType" [(ngModel)]="paymentSelected" value="ozow">
            <label class="form-check-label" for="exampleRadios2">
                Pay with <img src="./assets/images/ozow-black.png"
                class="payment-logo mx-1"> EFT
            </label>
          </div>
    </div>


    <div *ngIf="paymentSelected == 'ozow'" class="row  mt-3 ">
        <div class="col-md-6">
            <a [href]="ozowPaymentUrl"><button class="btn btn-lg btn-block btn-primary bg-dark mt-5">
                    Pay Now
                </button></a>
        </div>
    </div>


    <div *ngIf="paymentSelected == 'ukheshe'" class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
                Name on card is required
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
                Credit card number is required
            </div>
        </div>
    </div>
</div>