<div class="mb-3 product h5">Other Items</div>

  <!-- Search bar -->
  <div class="mb-3">
    <input
      type="search"
      class="form-control"
      placeholder="Search items by name..."
      (input)="shopItemsByName($event.target.value)"
      aria-label="Search items"
    />
  </div>

  <div class="d-flex align-items-center row">
      <div [id]="'item'+number" *ngFor="let item of searchItems; let number = index"  class="col-6 col-md-4 col-lg-3 col-xl-2">
        <app-shop-item [shop]="store" [shopItem]="item" [themeDark]="number%2 == 0"></app-shop-item>
      </div>
  </div>

<div *ngFor="let cat of categories" class="categories">
  <div class="accordion" id="accordionExample">
            <div class="category my-1 p-2" type="button" data-toggle="collapse" [attr.data-target]="'#'+replaceSpecialChars(cat)" aria-expanded="true" aria-controls="collapseOne">
              {{cat}}
            </div>

        <div [id]="replaceSpecialChars(cat)" class="collapse" [ngClass]="{'show': false}" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="d-flex align-items-center row">
            <div [id]="'item'+number" *ngFor="let item of shopItems(cat); let number = index"  class="col-6 col-md-4 col-lg-3 col-xl-2">
              <app-shop-item [shop]="store" [shopItem]="item" [themeDark]="number%2 == 0"></app-shop-item>
            </div>
          </div>
        </div>
  </div>
</div>
