.square-button {
    height: 100px; /* Fixed height to make it square */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

@media(min-width: 768px) {
    .square-button {
        height: 200px;
    }
}

.square-button:hover {
    background-color: #343a40; /* Slightly lighter shade for hover effect */
    cursor: pointer;
}

.menu-items .card{
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menu-items .card:hover {
    transform: translateY(-2px);
}