<div class="mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h3 class="mb-5">Dashboard</h3>
            <div class="row justify-content-center mb-5 menu-items">
                <div class="col-6 mb-3">
                    <div class="card border-0 shadow-sm h-100 p-3" style="background-color: var(--btn-red-color);" routerLink="../user/{{userId}}">
                       <div style="font-size:48px;">👤</div>
                        <div class="fw-bold mt-2">My Profile</div>
                        <div class="small">Manage your personal information and account settings</div>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="card border-0 shadow-sm h-100 p-3" style="background-color: #10A59F;" routerLink="../orders" [queryParams]="{ userId: userId}">
                        <div style="font-size:48px;">📦</div>
                        <div class="fw-bold mt-2">My Orders</div>
                        <div class="small">View your order history and track current orders</div>
                    </div>
                </div>
            </div>
        </div>
    </div>                
</div>