@font-face {
    font-family: Calibri;
    src: url("/assets/fonts/Calibri.ttf") format("opentype");
}

@font-face {
    font-family: Catamaran;
    src: url("/assets/fonts/Catamaran-Medium.ttf") format("opentype");
}

.bg-selected {
    background-color: var(--btn-bg-selected-color) !important;
    color: white !important;
}

.bg-not-selected {
    background-color: white !important;
    color: var(--btn-bg-selected-color) !important;
}

.card {
    border: none !important;
    background: var(--bkg-card-color);
    outline: none;
}

.page-header, .shop-item {
    color: var(--text-color) !important;
}

.list-group-item {
    background-color: var(--bkg-card-color);
    color: var(--text-color);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

#app-root {
    min-height: calc(100vh - 176px);
}

.bg-dark {
    background-color: var(--btn-bg-color) !important;
    color: white !important;
}

.button-dark {
    background-color: var(--btn-bg-color) !important;
    color: white !important;
}

.bg-light {
    color: #494949 !important;
}

.bg-clear {
    background-color: #ffffff00 !important;
}

.bg-light .nav-link {
    color: var(--text-color) !important;
    font-size: larger;
}

.product {
    color: var(--text-color)  ;
}

mat-icon {
    color: var(--text-color) !important;
}

.bg-ukheshe {
    background-color: #f15b25;
}

nav .logo {
    object-fit: cover;
    height: 48px;
}

.payment-logo {
    height: 20px;
}

.navbar {
    z-index: 4;
}

.btn {
    font-size: 1rem;
    font-weight: 300;
    border: none;
    border-radius: 1rem;
    height: 50px;
}

@media(max-width: 380px) {
    .btn {
        width: 100% !important;
    }
}

footer {
    padding-left: 16px;
    padding-right: 16px;
    background-repeat: no-repeat !important;
    background: var(--footer-bkg-color)
}

footer * {
    color: var(--footer-text-color);
    font-size: 14px;
}

.footer-header {
    font-size: 16px !important;
    color: var(--footer-text-color);
}

html, body {
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.error {
    color: red;
}

body {
    min-height: 100vh !important;
    background: var(--bkg-color);
    color: var(--text-color);
    margin: 0;
    font-family: Catamaran;
    --nav-bg-color: var(--bkg-card-color);
}

body {
    --text-color: #707070;
    --bkg-color: #F8F7F7;
    --footer-bkg-color: #b1b1b1;
    --footer-text-color: white;
    --bkg-card-color: white;
    --btn-txt-color: #707070;
    --btn-bg-color: #10A59F;
    --btn-bg-selected-color: #10A59F;
    --btn-pill-color: rgb(11, 88, 160);
    --bkg-logo: url('/assets/images/izinga-logo.png')
  }

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #212121;
    --bkg-card-color: #2D2D2D;
    --footer-bkg-color: #000000;
    --footer-text-color: #eee;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: #10A59F;
    --btn-bg-selected-color: #10A59F;
    --btn-pill-color: rgb(11, 88, 160);
    --bkg-logo: url('/assets/images/izinga-logo.png')
  }



/*animations*/
.digit {
    opacity: 0;
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
  }
  .visible {
    opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }