
#app-root {
 min-height: calc(100vh - 236px - 76px);
}

.bg-dark {
    background-color: #ad8377 !important;
    color: white !important;
}

.bg-light {
    color: #ad8377 !important;
}

.bg-light .nav-link {
    color: #ad8377 !important;
}

mat-icon {
    color: white !important;
}

.bg-ukheshe {
    background-color: #f15b25;
}

nav .logo {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid grey;
}

.payment-logo {
    height: 20px;
}

.navbar {
    z-index: 4;
}

.btn {
    font-size: 1rem;
    border: none;
}

footer{
    padding-left: 16px;
    padding-right: 16px;
}

footer h5 {
    color: #ad8377;
}

html, body { 
    height: 100%; 
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
