#carousel-container {

}

.carousel-item, .carousel-cell {
 height: 475px;
}

@media (max-width: 575.98px) {
 .carousel-item {
   height: calc(60vh);
 }
}

.carousel-item img {
  object-fit: contain;
}

.carousel-message {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 3;
}

.carousel-caption {
   position: sticky;
}

img.headline {
 object-fit: cover;
}

@media(max-width: 992px) {
  img.headline {
    width: 100% !important;
  }
}

.flex-equal > * {
 -ms-flex: 1;
 flex: 1;
}

@media (min-width: 768px) {
 .flex-md-equal > * {
   -ms-flex: 1;
   flex: 1;
 }
}

.card{
   width: 100%;
   background: #fbfbff;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border: 0px;
}

#mc_embed_signup {
   clear: left;
   font: 14px Helvetica, Arial, sans-serif;
 }

 #mc_embed_signup label {
   font-size: 18px;
   margin-top: 10px;
 }

 #mc_embed_signup form {
   margin: 32px 32px 32px 32px;
 }

 #mc-embedded-subscribe {
   /* clear: both; */
   /* width: auto; */
   /* display: block; */
   margin: 0 0 16 0;
 }

 .selection {
   color: #494949  ;
 }

 .lead {
   height: 60px;
 }