#carousel-container {

}

.category {
    background: var(--nav-bg-color);
    font-size: large;
}

.btn-checkout {
  color: #ffffff;
  background-color: #d69447;
  width: 100vw !important;
  border-radius: 0%;
}

.carousel-item img {
  object-fit: contain;
  height: 100vh;
  padding: 8px;
}

.promo-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
}

.promo-blurr {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(16px);
}

.promo-shop {
  position: absolute;
  top: 80px;
  color: #ffffff;
  font-weight: bold;
  background-color: #0000004c;
}

.carousel-message {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 3;
}

.carousel-caption {
   position: sticky;
}

img.headline {
 object-fit: cover;
}

@media(max-width: 992px) {
  img.headline {
    width: 100% !important;
  }
}

.flex-equal > * {
 -ms-flex: 1;
 flex: 1;
}

@media (min-width: 768px) {
 .flex-md-equal > * {
   -ms-flex: 1;
   flex: 1;
 }
}

.card{
   width: 100%;
   background: #fbfbff;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   border: none;
}

#mc_embed_signup {
   clear: left;
   font: 14px Helvetica, Arial, sans-serif;
 }

 #mc_embed_signup label {
   font-size: 18px;
   margin-top: 10px;
 }

 #mc_embed_signup form {
   margin: 32px 32px 32px 32px;
 }

 #mc-embedded-subscribe {
   /* clear: both; */
   /* width: auto; */
   /* display: block; */
   margin: 0 0 16 0;
 }

 .selection {
   color: #494949  ;
 }

 .lead {
   height: 60px;
 }

 .carousel-promo {
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
 }

 .button-menu {
    position: absolute;
    bottom: 120px;
 }

 #start-order-btn {
  background-color: #d69447 !important;
  font-weight: bold;
 }

mat-icon.menu-download {
  font-size: 18px;
  width: 18px;
  height: 18px;
 }