

<div class="container">

<app-promo-slider *ngIf="promotions.length > 0" [promotions]="promotions"></app-promo-slider>

<div class="mb-3 mt-5 py-3 d-flex justify-content-center">
  <div class="h5 page-header">{{shop?.name}} Menu</div>
</div>

<div class="d-flex align-items-center row">
  <div [id]="'item'+number" *ngFor="let item of shopItems; let number = index" class="col-6 col-md-4 col-lg-3 col-xl-2">
    <app-shop-item [shop]="shop" [shopItem]="item" [themeDark]="number%2 == 0"></app-shop-item>
  </div>
</div>

<div *ngIf="hasItemsInCart()" class="fixed-bottom">
  
  <a routerLink="./cart">
    <button class="btn btn-checkout shadow-sm">
      <mat-icon matBadge="{{cartNumberOfItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
      CHECKOUT
    </button>
  </a>
</div>
</div>