<div *ngIf="promotions?.length > 0" class="carousel digit">
  <div *ngFor="let promotion of promotions ; let number = index;">
    <a *ngIf="promotion.stockId != null else unclickable" [routerLink]="'./item/' + promotion.stockId">
      <img [src]="promotion.imageUrl" class="carousel-cell" alt="...">
    </a>
    <ng-template #unclickable>
      <img [src]="promotion.imageUrl" class="carousel-cell" alt="...">
    </ng-template>
  </div>
  
</div>

<div *ngIf="promotions.length >= 2" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 mb-5">
  <a [routerLink]="promotions[0].stockId != null? ('./item/' + promotions[0].stockId) : '#'">
    <div id="promotion1"
      class="bg-light mt-sm-3 mr-md-3 mb-1 pt-3 px-3 pt-md-1 px-md-5 text-center text-white overflow-hidden rounded shadow-sm digit">
      <div class="my-3 py-3">
        <h3 class="display-5">{{promotions[0].title}}</h3>
        <p class="lead">{{promotions[0].message}}</p>
      </div>
      <img [src]="promotions[0].imageUrl" class="headline bg-light mx-auto" style="width: 80%; height: 300px;">
    </div>
  </a>
  <a [href]="promotions[1].stockId != null? ('./item/' + promotions[1].stockId) : '#'">
    <div id="promotion2"
      class="bg-dark mt-sm-3 mr-md-3 mb-1 pt-3 px-3 pt-md-1 px-md-5 text-center overflow-hidden rounded shadow-sm">

      <div class="my-3 p-3">
        <h3 class="display-5">{{promotions[1].title}}</h3>
        <p class="lead">{{promotions[1].message}}</p>
      </div>
      <img [src]="promotions[1].imageUrl" class="headline bg-dark mx-auto" style="width: 80%; height: 300px;">
    </div>
  </a>
</div>

<div class="my-3 py-3 d-flex justify-content-center">
  <div class="h5 page-header">{{shop?.name}} Menu</div>
</div>

<div class="d-flex align-items-center row">
  <div [id]="'item'+number" *ngFor="let item of shopItems; let number = index" class="col-6 col-md-4 col-lg-2 col-xl-2">
    <app-shop-item [shopId]="shop.id" [shopItem]="item" [themeDark]="number%2 == 0"></app-shop-item>
  </div>
</div>

<div *ngIf="hasItemsInCart()" class="fixed-bottom">
  
  <a routerLink="./cart">
    <button class="btn btn-checkout shadow-sm">
      <mat-icon matBadge="{{cartNumberOfItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
      CHECKOUT
    </button>
  </a>
</div>