
<div *ngIf="promotions.length > 0 && !startOrder" class="sticky-top promo-container">
  <div class="promo-blurr" [ngStyle]="{'background-image': cssImageUrl}">
  </div>
  <div class="promo-shop h2 d-flex justify-content-center p-3 shadow-sm">{{shop.name}}</div>
  <div class="carousel carousel-promo slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let promo of promotions; let number = index;" data-target="#carouselExampleIndicators" 
      data-slide-to="{{index}}" [ngClass]="number == 0? 'active' : ''"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let promo of promotions ; let number = index;" class="carousel-item" [ngClass]="{'active': number === 0}">
        <img [src]="promo.imageUrl" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="button-menu d-flex justify-content-center">
        <button id="start-order-btn" class="btn btn-lg btn-block bg-dark mt-5 shadow-sm mb-3" 
        (click)="startOrder = true">
          Start Order
      </button>
    </div>
  </div>
</div>

<div *ngIf="startOrder || promotions.length <= 0" class="">

<div class="mb-3 mt-5 py-3 d-flex justify-content-center">
  <div>
    <div class="h5 page-header">{{shop?.name}} Menu</div>
  </div>
</div>

<div *ngFor="let cat of categories" class="categories">
  <div class="accordion" id="accordionExample">
            <div class="category my-3 p-1" type="button" data-toggle="collapse" [attr.data-target]="'#'+replaceSpecialChars(cat)" aria-expanded="true" aria-controls="collapseOne">
              {{cat}}
            </div>

        <div [id]="replaceSpecialChars(cat)" class="collapse" [ngClass]="{'show': !cat || isPromotionCategory(cat)}" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="d-flex align-items-center row">
            <div [id]="'item'+number" *ngFor="let item of shopItems(cat); let number = index"  [ngClass]="{'col-12 col-md-6 col-lg-4 col-xl-3': isPromotion(item), 'col-6 col-md-4 col-lg-3 col-xl-2': !isPromotion(item)}" class="">
              <app-shop-item-large *ngIf="isPromotion(item)" [shop]="shop" [shopItem]="item" [themeDark]="number%2 == 0"></app-shop-item-large>
              <app-shop-item *ngIf="!isPromotion(item)" [shop]="shop" [shopItem]="item" [themeDark]="number%2 == 0"></app-shop-item>
            </div>
          </div>
        </div>
  </div>
</div>


<div *ngIf="hasItemsInCart()" class="fixed-bottom">
  
  <a routerLink="./cart">
    <button class="btn btn-checkout shadow-sm">
      <mat-icon matBadge="{{cartNumberOfItems}}" matBadgeColor="warn">shopping_cart</mat-icon>
      CHECKOUT
    </button>
  </a>
</div>
</div>